<<<<<<< HEAD
.personnage {
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

#archer{
    height: 450px;
    width: 650px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7%;
}

#image{
    margin-top: 3%;
    margin-right: 10%;
    
}



=======
.navbar,footer {
    background-color:#F6904D!important;
}

.btn {
    background-color: #F6904D;
    border-color: white;
}

#titre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 400%;
}

footer {
    margin-top: 10%;
}

#titrelogo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
>>>>>>> 12a7dfa34b3d40105b15399858c0ff6d0a3c7973
